#paragraf1 {
    
    color:orange;
    
}

#paragraf1:hover{
    
    color:white
}
body {
    background-attachment: fixed;
    background-image: url("http://www.drodd.com/images14/white-wallpaper29.png");
}
 p{
                color: darkorange
            }
            nav > h1 {
                color:crimson;
                text-align: center;
                text-shadow: 1px 1px black;
                font-size: 3em;
                font-style: italic;
                font-weight: bold;
            }
            #menu {
                list-style-type:circle;
                text-align:center;
            }
            #menu>li {
                background-color:chartreuse;
                display: inline;
                padding: 10px;
            }
            li>a{
                text-decoration: none;
                color: black;
            }
            #menu>li:hover {
                background-color: white;
            }
            #menu-container {
                background-color:forestgreen;
                padding: 10px;
                position: sticky;
                top: 5px;
            }
            
            .element-1 {
                width: 50px;
                height: 50px;
                background-color: black;
                position: relative;
            }
            .element-2 {
                width: 90px;
                height: 30px;
                background-color: palevioletred;
                position: absolute;
            }
            .element-3 {
                width: 10px;
                height: 50px;
                background-color: skyblue;
                position: relative;
            }
